target_compile_definitions(${PROGRAM_NAME} PRIVATE
    WIFI_SSID=\"my WiFi Network\"
    WIFI_PASSWORD=\"qwerty123\"
)

target_compile_definitions(${PROGRAM_NAME} PRIVATE
    IP_ADDR=\"192.168.XXX.XXX\"
    IP_NETMASK=\"255.255.255.0\"
    IP_GATEWAY=\"192.168.XXX.XXX\"
)
